:root{
    --cor-preto:#000000;
    --cor-cinza-escuro: #414141;
    --cor-cinza-claro: #F5F5F5;
    --cor-amarelo: #D0B045;
    --cor-branco: white;
}

.containerVideo{
    max-width: 700px;
    margin: 150px auto;    
}

.videoApresentacao{
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
    
    
}

.containerVideo iframe{
    position: absolute;
    margin: 0 auto;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    top: 5%;
    left: 5%;

}