:root{
    --cor-preto:#000000;
    --cor-cinza-escuro: #414141;
    --cor-cinza-claro: #F5F5F5;
    --cor-amarelo: #D0B045;
    --cor-branco: white;
}

.sideBarCabecalho img{
    height: 100px;
    
}

.botaoMenu{
    float: right;
    width: 50px;
    height: 50px;
    margin: 25px;
    background-color:var(--cor-preto);
    border: none;
    display: none;
}

.botaoFechar{
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    
}

#iconeMenu{
   font-size: 50px;
   color: var(--cor-amarelo);
   display: none;
   
}

#iconeFechar{
font-size: 40px;
   color: var(--cor-amarelo);
   float: right;
   transition: 0.7s;
   
}

#iconeFechar:hover {
    transform: rotate(0.7turn);
}

aside{
    z-index: 9999;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    transform: translate(-100%);
    transition: 0.7s;
}

.mostrarMenu{
    transform: translate(0);
}

.sideBarCabecalho{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 95%;
    padding: 5px;
}


.sideBarCabecalho img{
    height: 100px;
    

}

.listaMenu {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    color: black;
    font-size: 25px;
    margin-left: 20px;
    
    font-weight: 600;
}

.listaMenu a{
    margin-bottom: 50px;
    
}

.listaMenu a {
    color: black;
}


.listaRedes{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    
}

.logoCapa{
    height: 100vh;
   text-align: center;
}

.logoCapa img{
   
    height: 800px ;

    
}

.rodape{
    background-color: black;
    height: 100px;
    color: rgb(255, 0, 0);
    text-align: center;
   padding: 20px;
    margin-top: 100px ;
    font-weight: 600;
}

/*INICIO DO MOBILE*/


@media screen and (max-width:780px) {
    .container-nav-menu{
        display: none;
    }

    .botaoMenu{
        display: block;
    }

    #iconeMenu{
        
        display: initial;
     }

     aside{
        width: 70%;
     }

 
}